@model DataAccesLayer.Page_Content

@{
    ViewBag.Title = "AddNewPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var isChanged = false;
    function addNewPage() {
        var checkedorNot = false;
        if ($("#chkIsOwned").prop('checked') == true) {
            checkedorNot = true;
        }
        else {
            checkedorNot = false;
        }
        alert($("#txtBody").val());
        $.post('/Home/NewPage/', { headerContent: $("#txtHeader").val(), bodyContent: $("#txtBody").val(), isOwned: checkedorNot }, function (data) {
            $("#divSuccess").show().delay(5000).fadeOut();
            $('#txtHeader').val('');
            $('#txtBody').val('');
            $('#checkbox').prop('checked', false);
        });
    }
    $(document).ready(function () {
        $("#divSuccess").hide();
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div id="divSuccess" class="alert alert-success" role="alert">
            Page added successfully..!!
        </div>
        <div class="form-group">
            <label>Header Content</label>
            <input class="form-control" id="txtHeader" placeholder="Page Header..">
        </div>
        
        <div class="form-group">
            <label>Body Content</label>
            <textarea class="form-control" id="txtBody" rows="15" cols="29"></textarea>
            <small id="markDownHelp" class="form-text text-muted" placeholder="Page Body..">Enter content in MarkDown format.</small>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chkIsOwned">
            <label class="form-check-label">Is Owned Page</label>
        </div>
        <button type="submit" class="btn btn-primary" onclick="addNewPage()">Submit</button>
    </div>
</div>
